# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscheme
DerivedData/

# Python
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/

# VS Code
.vscode/

# OS
.DS_Store

# Ephemeris Data (Optional: if you don't want to track large .se1 files)
# *.se1
*.se1
Resources/*.se1
